# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/public/Data

# testing
/coverage

# production
/build

# misc
.idea
.DS_Store
.env
.firebaserc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config.js
*.iml