service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId}/data/{document=**}  {
      allow read, write: if request.auth.uid == userId;
    }

    match /users/{userId}/customData/{document=**}  {
      allow read, write: if request.auth.uid == userId;
    }

    match /vehicleDB/{document}  {
     function vehicleData() {
            return get(/databases/$(database)/documents/vehicleDB/$(document)).data
        }
      allow create: if request.auth.uid != null;
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid in vehicleData().write;

      match /data/{type} {
      	allow read: if request.auth.uid != null;
        allow write: if request.auth.uid in vehicleData().write;
  		}
    }

     match /customVehicleDB/{document}  {
     function dbData(type) {
            return get(/databases/$(database)/documents/$(type)/$(document)).data
        }
      allow create: if request.auth.uid != null;
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid in dbData('customVehicleDB').write;
    }

    match /userDB/{document}  {
      allow write: if request.resource.data.uid == request.auth.uid;
    }
  }
}