body {
    --orange: rgb(245, 142, 32);
    --lightblue: rgb(181, 224, 232);
    --darkblue: rgb(83, 136, 187);
    --gray: rgb(247, 245, 242);
    --brown: rgb(179, 151, 123);
    --red: rgb(148, 45, 37);
    --difficulty: rgb(82, 40, 126);
    --challenge: rgb(117, 19, 23);
    --boost: rgb(118, 205, 219);
    --ability: rgb(70, 172, 78);
    --proficiency: rgb(254, 240, 53);
    font-family: 'Avenir Next', sans-serif !important;
    background-image: url(/images/background.png);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.textSymbols {
    height: 20px;
}

.singleAttribute {
    background-image: url(/images/png/SingleAttribute.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    height: 120px;
}

.Soak {
    background-image: url(/images/png/Soak.png);
}

.Defense {
    background-image: url(/images/png/Defense.png);
}

.Strain {
    background-image: url(/images/png/Strain.png);
}

.Wounds {
    background-image: url(/images/png/Wounds.png);
}

.doubleAttribute {
    background-image: url(/images/png/DoubleAttribute.png);
}

