:root {
  --orange: #f58e20;
  --lightblue: #b5e0e8;
  --darkblue: #326DA1;
  --gray: #f7f5f2;
  --brown: #b3977b;
  --red: #e65247;
  font-family: 'Avenir Next', sans-serif !important;
  background-image: url(/images/background.png);
}

h3, ul {
  margin: unset;
}

button, input {
  margin: 1vw;
}

.textSymbols {
  width: 2vw;
  vertical-align: middle;
}

.textField {
  width: 90%;
  padding: 0.5vw;
  background-color: var(--gray);
  margin: 1vw 1vw 0 1vw;
}

.noMargin {
  margin: 0;
}

.login-box {
  padding-top: 2vw;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
  text-align: center;
}

.module {
  display: inline-block;
}

.block {
  display: block;
}

.inlineblock {
  display: inline-block;
}

.textEdit {
  font-size: 2.5vw;
  width: 3vw;
  color: #454B4D;
  margin: 0;
  text-align: center;
  border: none;
  background: var(--gray);
}


.inner {

}

.xp-block {
    height: 14vw;
    width: 14vw;
    position: relative;
    background-image: url(/images/blocks/AvailableXp.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.inside-block {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 3vw;
}

.stats-box {
  margin: 0.5vw;
  width: 10vw;
  font-size: 1.3vw;
  text-align: center;
  display: inline-block;
}

.stats-box-top {
  border: 0.1vw black solid;
  border-top-left-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
  padding: 0.5vw;
  display: block;
  font-weight: bold;
  background: var(--orange);
}

.stats-box-bottom {
  border: 0.1vw black solid;
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  padding: 0.5vw;
  display: block;
  background: #f0f0f0;
}

.talent-box {
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  max-width: 10vw;
  font-size: 1vw;
  overflow: hidden;
  padding: 0 2vw 0 0;
}

.talent-box-top{
  height: 4%;
  padding: 13% 0;
  background: var(--gray);
}

.talent-box-top-active {
  font-style: bold;

  background: var(--orange);
}

.talent-box-top-passive {
  font-style: bold;

  background: var(--lightblue);
}
.talent-box-top-inactive {
  background: var(--brown);
}
.talent-box-bottom {
  font-style: normal;
  height: 58%;
}
.talent-row {
  display: table;
  width: fit-content;
  height: 11vw;
}

.popup-select {
  margin: 1vw 0;
  width: fit-content;
}

.characteristic-box-top {
  font-size: 2vw;
}
.characteristic-box-bottom {
  font-size: 3vw;
}

.attrib-box {
  width: 12vw;
}
.attrib-box-top {
  font-size: 2vw;
}
.attrib-box-bottom {
  font-size: 3vw;
}

.motivation-module {
  width: 45vw;
  margin: 1vw;
  border: black solid 1px;
}

.motivation-title {
  width: 75%;
  padding: 0.8vw;
  border-bottom: black solid 1px;
}

.table {
  text-align: center;
  display: table;
  width: 100%;
}

.table-module {
  width: auto;
}

.table-header {
  display: table-header-group;
  font-weight: 600;
}

.table-row {
  display: table-row;
  height: 3vw;
  line-height: 3vw;
  vertical-align: middle;
}

.table-row-hide {
  display: none;
}

.table-cell {
  display: table-cell;
  padding: 0.3vw;
  border: black solid 1px;
}

.table-cell-no-border{
  display: table-cell;
  padding: 0.3vw;
}

.table-heading {
  text-align: left;
  font-size: large;
  font-weight: bold;
  padding: 0 1vw;

}
.title {
  color: var(--lightblue);
}

@media only screen
  and (max-width: 480px) {
    #root {
      width: fit-content;
    }
    .module {
      width: 100%;
    }
}
