
body {
	--orange: rgb(245, 142, 32);
	--lightblue: rgb(181, 224, 232);
	--darkblue: rgb(83, 136, 187);
	--gray: rgb(247, 245, 242);
	--brown: rgb(179, 151, 123);
	--red: rgb(148, 45, 37);
	--difficulty: rgb(82, 40, 126);
	--challenge: rgb(117, 19, 23);
	--boost: rgb(118, 205, 219);
	--ability: rgb(70, 172, 78);
	--proficiency: rgb(254, 240, 53);
	--orangeFade: rgba(245, 142, 32, 0.2);
	--lightblueFade: rgba(181, 224, 232, 0.2);
	font-family: 'Avenir Next', sans-serif !important;
}

hr {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: 0;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

h5 {
	font-size: 1.25rem;
	margin-bottom: 0;
	margin-top: 0.5rem;
}

table {
	vertical-align: middle;
}

.table th {
	padding: 0.4rem;
}

.table td {
	padding: 0.4rem;
}

thead {
	font-weight: 600;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.w-10 {
	width: 10%;
}

.w-20 {
	width: 20%;
}

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-60 {
	width: 60%;
}

.w-70 {
	width: 70%;
}

.w-80 {
	width: 80%;
}

.w-90 {
	width: 90%;
}

.noUnderLine, .noUnderLine:hover, .noUnderLine:focus {
	text-decoration: none;
}

.textSymbols {
	vertical-align: middle;
	height: 1.2rem;
}

.svg {
	width: 100%;
}

.absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.talentDesc {
	overflow-y: auto;
	white-space: pre-line;
}

.table-dice {
}

.table-career {
	text-align: center;
}

.table-rank {
	text-align: center;
}

.table-name {
	text-align: left;
}

.row-hide {
	display: none;
}

.talentCard {
	width: 10rem;
	height: 11rem;
}

.ffi {
	vertical-align: middle;
	font-size: 1.4rem;
}

.ffi-d6 {
	letter-spacing: 0;
}

.ffi-border {
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 0.1rem;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*CRB Theme*/
.bg-CRB {
	background-image: url(../images/CRB/background.png);
}

.imageBox {
	position: relative;
	text-align: center;
	color: black;
	padding: 0;
	margin: 0.15rem;
	width: 6rem;
}

.attribute {
	width: 10rem;
	height: 5.5rem;
}

.xpBox {
	width: 8rem;
}

.attributeValue {
	position: absolute;
	display: inline-flex;
	font-size: 1.5rem;
	font-weight: 600;
	top: 51%;
	left: 58%;
	transform: translate(-50%, -50%);
	flex: unset;
}

.characteristicValue {
	position: absolute;
	font-size: 2.5rem;
	font-weight: 600;
	top: 35%;
	left: 62%;
	transform: translate(-50%, -50%);
	flex: unset;
}

.xpValue {
	position: absolute;
	font-size: 2rem;
	font-weight: 600;
	top: 45%;
	left: 60%;
	transform: translate(-50%, -50%);
	flex: unset;
}

.totalXP {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 1;
}

.availableXP {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1;
}

@media only screen
and (max-width: 480px) {

	.table {
		font-size: 0.7rem;
	}

	.fontSizeSmall {
		font-size: 0.5rem;
	}

	.talentCard {
		width: 16vw;
		height: 12vh;
		font-size: 0.5rem;
	}

	.ffi {
		font-size: 1rem;
	}

	.overflowX {
		overflow-x: scroll;
	}
}

@media print {
	* {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
	}

	h5 {
		font-size: 1rem;
		margin-top: 0.25rem;
		font-weight: 600;
	}

	body {
		--orangeFade: rgb(245, 142, 32);
		--lightblueFade: rgb(181, 224, 232);
	}

	.no-break {
		break-inside: avoid;
	}

	.break-after {
		page-break-after: always;
	}

	.break-before {
		page-break-before: always;
	}

	.table th {
		padding: 0.1rem;
	}

	.table td {
		padding: 0 0.2rem;
	}

	.talentCard {
		width: 8rem;
		height: 1rem;
	}

	.ffi {
		font-size: 12pt;
	}

	.ffi-border {
		-webkit-text-stroke-width: 0.05rem;
	}

	.table-dice {
		width: 200px;
	}

	.table-career {
		width: 70px;
	}

	.table-rank {
		width: 70px;
	}

	.table-name {
		width: 250px;
	}

	.table-skills {
		font-size: 14pt;
	}

	.totalXP {
		display: inline-block;
		position: relative;
	}

	.availableXP {
		display: inline-block;
		position: relative;
	}
}