.gear-modal {
    max-width: 600px;

    .item-filter {
        width: 30%;
        display: inline-block;
        border-radius: 4px;
        padding: 7px 0 5px 11px;
        border: 1px solid rgb(206, 212, 218);
        margin: -15px 5px 5px;
        vertical-align: top;
    }

    .table-container {
        clear: right;
    }

    .rbt {
        position: relative;
        width: calc(70% - 10px);
        display: inline-block;
        margin-top: -15px;
        margin-bottom: 5px;

        .rbt-aux .rbt-close {
            margin-top: 3px;
        }
    }

    table {
        td {
            &:first-child {
                text-align: center;

                button {
                    width: 27px;
                    height: 27px;
                    text-align: center;
                    padding: 0;
                }
            }

            &:last-child {
                text-align: center;
            }
        }
    }

    .settings-restriction {
        margin-top: 4px;
        position: absolute;
        left: 16px;

        input {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }

        label {
            margin-right: 5px;
            font-size: 1.2em;
        }
    }
}
