:root {
  --orange: #F69337;
  --lightblue: #1ABEEF;
  --darkblue: #326DA1;
  --gray: #f7f5f2;
  --brown: #b3977b;
  --red: #e65247;
  font-family: 'Avenir Next', sans-serif !important;
}

h3, ul {
  margin: unset;
}

button, input {
  margin: 0 1vw 0 0;
}

.noMargin {
  margin: 0;
}

.login-box {
  padding-top: 2vw;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
  text-align: center;
}

.module {
  display: inline-block;
}

.block {
  display: block;
}

.stats-box {
  margin: 0.5vw;
  width: 10vw;
  font-size: 1.3vw;
  text-align: center;
  display: inline-block;
}

.stats-box-top {
  border: 0.1vw black solid;
  border-top-left-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
  padding: 0.5vw;
  display: block;
  font-weight: bold;
  background: var(--orange);
}

.stats-box-bottom {
  border: 0.1vw black solid;
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  padding: 0.5vw;
  display: block;
  background: #f0f0f0;
}

.talent-box {
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  max-width: 10vw;
  font-size: 1vw;
  overflow: hidden;
  padding: 0 2vw 0 0;
}

.talent-box-top{
  height: 4%;
  padding: 13% 0;
  background: var(--gray);
}

.talent-box-top-active {
  font-style: bold;

  background: var(--orange);
}

.talent-box-top-passive {
  font-style: bold;

  background: var(--lightblue);
}
.talent-box-top-inactive {
  background: var(--brown);
}
.talent-box-bottom {
  font-style: normal;
  height: 58%;
}
.talent-row {
  display: table;
  width: fit-content;
  height: 11vw;
}

.popup-select {
  width: fit-content;
}

.characteristic-box-top {
  font-size: 2vw;
}
.characteristic-box-bottom {
  font-size: 3vw;
}

.attrib-box {
  width: 12vw;
}
.attrib-box-top {
  font-size: 2vw;
}
.attrib-box-bottom {
  font-size: 3vw;
}

.title {
  color: var(--lightblue);
}

@media only screen
  and (max-width: 480px) {
    #root {
      width: fit-content;
    }
    .module{
      width: fit-content;
    }
}
