:root {
  --orange: #e69053;
  --lightblue: #64d3d9;
  --darkblue: #127fa3;
  --gray: #f7f5f2;
  --brown: #b3977b;
  --red: #d42828;
}

.login-box {
  padding-top: 2em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.module {
  display: inline-block;
}

.stats-box {
  margin: 4px;
  width: 6em;
  text-align: center;
  border-radius: 3px;
  font: normal 12px/normal Tahoma, Geneva, sans-serif;
  border: 1px black solid;
  display: inline-block;
}

.stats-top-box {
  font-size: initial;
  display: block;
  background: var(--orange);
}

.stats-bottom-box {
  font-size: xx-large;
  display: block;
  background: #f0f0f0;
}

@media only screen
  and (max-width: 480px) {
    .module{
      width: max-content;
    }
}
